/* Default */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 0;
    background-color: #272727;
}

/* Outer Circle (To Do) */
.orbit-path-700 {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1 / 1;
    width: min(90vw, 90vh);
    border-radius: 50%;
    border: 2px dashed #ffffff2d;
}

/* Middle Circle (In Progress) */
.orbit-path-500 {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1 / 1;
    width: min(65vw, 65vh);
    border-radius: 50%;
    border: 2px dashed #ffffff2d;
}

/* Inner Circle (Done) */
.orbit-path-300 {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1 / 1;
    width: min(40vw, 40vh);
    border-radius: 50%;
    border: 2px dashed #ffffff2d;
}

/* Center Image */
.center-image {
    width: min(15vw, 15vh);
    height: min(15vw, 15vh);
    border-radius: 50%;
    position: absolute;
    display: block;
}

.center-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center-image:hover {
    scale: 1.1;
}

/* Done */
.status-300 {
    position: relative;
    font-size: min(2vw, 2vh);
    font-family: sans-serif;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
    bottom: 33%;
}

/* In Progress */
.status-500 {
    position: relative;
    font-size: min(2vw, 2vh);
    font-family: sans-serif;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
    bottom: 39%;
}

/* To Do */
.status-700 {
    position: relative;
    font-size: min(2vw, 2vh);
    font-family: sans-serif;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
    bottom: 43%;
}

/* Orbits */
.orbiting-circle img {
    width: 100%;
    height: auto;
    display: block;
}

.orbiting-circle {
    width: min(3vw, 3vh);
    height: min(3vw, 3vh);
    position: absolute;
    border: 1px dashed #d6d6d6;
    background-color: #d6d6d6;
    padding: 10px;
    border-radius: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.orbiting-circle:hover {
    padding: 12px;
}